
{% extends "base.html" %}
{% load static %}
{% load storage_tags %}

{% block content %}

<!-- Mapa -->
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-8">
                    <h5>Mapa</h5>
                  </div>
                  <div class="col-4">
                    {% check_permission user.username type="Modelo" action="Crear" model="Producto" as aux %}
                    {% if aux or user.is_superuser %}
                    <button type="button" onclick="return openCustomModal('{% url "panel:download_data" %}')" class="btn btn-outline-primary float-right btn-sm">
                      <span class="fas fa-download"></span>
                    </button>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body custom-card-body">

              <div class="container-fluid map">

                <div class="row row-1">
                  {% get_room 'Sala 1' as room %}
                  {% if room.status == 'Cerrada' %}
                    <div class="col-6 sala no-open" onclick="return openCustomModal('{% url 'panel:room_view' room.id %}')">
                      <p>{{ room.name }}</p>
                  {% else %}
                    <div class="col-6 sala open" onclick="return openCustomModal('{% url 'panel:room_view' room.id %}')">
                      <p>{{ room.name }} | {{ room.temperature }}ºC | {{ room.humidity }}%</p>
                  {% endif %}
                  </div>

                  {% get_room 'Sala 2' as room %}
                  {% if room.status == 'Cerrada' %}
                    <div class="col-6 sala no-open" onclick="return openCustomModal('{% url 'panel:room_view' room.id %}')">
                      <p>{{ room.name }}</p>
                  {% else %}
                    <div class="col-6 sala open" onclick="return openCustomModal('{% url 'panel:room_view' room.id %}')">
                    <p>{{ room.name }} | {{ room.temperature }}ºC | {{ room.humidity }}%</p>
                  {% endif %}
                  </div>
                </div>

                <div class="row row-2">

                  <div class="col">

                    {% get_room 'Sala A' as room %}
                    {% if room.status == 'Cerrada' %}
                      <div class="row sala no-open" onclick="return openCustomModal('{% url 'panel:room_view' room.id %}')" style="height: 33%;">
                        <p>{{ room.name }}</p>
                    {% else %}
                      <div class="row sala open" onclick="return openCustomModal('{% url 'panel:room_view' room.id %}')" style="height: 33%;">
                        <p>{{ room.name }} | {{ room.temperature }}ºC | {{ room.humidity }}%</p>
                    {% endif %}
                    </div>

                    {% get_room 'Sala B' as room %}
                    {% if room.status == 'Cerrada' %}
                      <div class="row sala no-open" onclick="return openCustomModal('{% url 'panel:room_view' room.id %}')" style="height: 33%;">
                        <p>{{ room.name }}</p>
                    {% else %}
                      <div class="row sala open" onclick="return openCustomModal('{% url 'panel:room_view' room.id %}')" style="height: 33%;">
                        <p>{{ room.name }} | {{ room.temperature }}ºC | {{ room.humidity }}%</p>
                    {% endif %}
                    </div>

                    {% get_room 'Sala C' as room %}
                    {% if room.status == 'Cerrada' %}
                      <div class="row sala no-open" onclick="return openCustomModal('{% url 'panel:room_view' room.id %}')" style="height: 33%;">
                        <p>{{ room.name }}</p>
                    {% else %}
                      <div class="row sala open" onclick="return openCustomModal('{% url 'panel:room_view' room.id %}')" style="height: 33%;">
                        <p>{{ room.name }} | {{ room.temperature }}ºC | {{ room.humidity }}%</p>
                    {% endif %}
                    </div>
                  </div>

                  <div class="col">
                  </div>

                  <div class="col">
                    <div class="row" style="height: 12.5%;">
                    </div>
                    <div class="row" style="height: 12.5%;">
                    </div>
                    <div class="row sala otro" style="height: 12.5%;">
                      <p>Vestuarios</p>
                    </div>
                    <div class="row" style="height: 12.5%;">
                      <div class="col-6 sala otro">
                        <p>WC1</p>
                      </div>
                      <div class="col-6 sala otro">
                        <p>WC2</p>
                      </div>
                    </div>
                    <div class="row" style="height: 12.5%;">
                      <div class="col-6 sala otro">
                        <p>Jefe</p>
                      </div>
                      <div class="col-6 sala otro">
                        <p>Almacén</p>
                      </div>
                    </div>
                    <div class="row" style="height: 12.5%;">
                      <div class="col-6 sala otro">
                        <p>Descanso</p>
                      </div>
                      <div class="col-6 sala otro">
                        <p>Taller</p>
                      </div>
                    </div>
                    <div class="row" style="height: 12.5%;">
                    </div>
                  </div>

                  <div class="col">
                  </div>

                  <div class="col">
                    <div class="row" style="height: 14%;">
                    </div>

                    {% get_room 'F1' as room %}
                    {% if room.status == 'Cerrada' %}
                      <div class="row sala no-open" onclick="return openCustomModal('{% url 'panel:room_view' room.id %}')" style="height: 14%;">
                        <p>{{ room.name }}</p>
                    {% else %}
                      <div class="row sala open" onclick="return openCustomModal('{% url 'panel:room_view' room.id %}')" style="height: 14%;">
                        <p>{{ room.name }} | {{ room.temperature }}ºC | {{ room.humidity }}%</p>
                    {% endif %}
                    </div>

                    {% get_room 'F2' as room %}
                    {% if room.status == 'Cerrada' %}
                      <div class="row sala no-open" onclick="return openCustomModal('{% url 'panel:room_view' room.id %}')" style="height: 14%;">
                        <p>{{ room.name }}</p>
                    {% else %}
                      <div class="row sala open" onclick="return openCustomModal('{% url 'panel:room_view' room.id %}')" style="height: 14%;">
                        <p>{{ room.name }} | {{ room.temperature }}ºC | {{ room.humidity }}%</p>
                    {% endif %}
                    </div>

                    {% get_room 'F3' as room %}
                    {% if room.status == 'Cerrada' %}
                      <div class="row sala no-open" onclick="return openCustomModal('{% url 'panel:room_view' room.id %}')" style="height: 14%;">
                        <p>{{ room.name }}</p>
                    {% else %}
                      <div class="row sala open" onclick="return openCustomModal('{% url 'panel:room_view' room.id %}')" style="height: 14%;">
                        <p>{{ room.name }} | {{ room.temperature }}ºC | {{ room.humidity }}%</p>
                    {% endif %}
                    </div>

                    {% get_room 'F4' as room %}
                    {% if room.status == 'Cerrada' %}
                      <div class="row sala no-open" onclick="return openCustomModal('{% url 'panel:room_view' room.id %}')" style="height: 14%;">
                        <p>{{ room.name }}</p>
                    {% else %}
                      <div class="row sala open" onclick="return openCustomModal('{% url 'panel:room_view' room.id %}')" style="height: 14%;">
                        <p>{{ room.name }} | {{ room.temperature }}ºC | {{ room.humidity }}%</p>
                    {% endif %}
                    </div>

                    {% get_room 'F5' as room %}
                    {% if room.status == 'Cerrada' %}
                      <div class="row sala no-open" onclick="return openCustomModal('{% url 'panel:room_view' room.id %}')" style="height: 14%;">
                        <p>{{ room.name }}</p>
                    {% else %}
                      <div class="row sala open" onclick="return openCustomModal('{% url 'panel:room_view' room.id %}')" style="height: 14%;">
                        <p>{{ room.name }} | {{ room.temperature }}ºC | {{ room.humidity }}%</p>
                    {% endif %}
                    </div>

                    {% get_room 'F6' as room %}
                    {% if room.status == 'Cerrada' %}
                      <div class="row sala no-open" onclick="return openCustomModal('{% url 'panel:room_view' room.id %}')" style="height: 14%;">
                        <p>{{ room.name }}</p>
                    {% else %}
                      <div class="row sala open" onclick="return openCustomModal('{% url 'panel:room_view' room.id %}')" style="height: 14%;">
                        <p>{{ room.name }} | {{ room.temperature }}ºC | {{ room.humidity }}%</p>
                    {% endif %}
                    </div>
                  </div>

                  <div class="col">
                  </div>

                  <div class="col">


                    {% get_room 'M1' as room %}
                    {% if room.status == 'Cerrada' %}
                      <div class="row sala no-open" onclick="return openCustomModal('{% url 'panel:room_view' room.id %}')" style="height: 20%;">
                        <p>{{ room.name }}</p>
                    {% else %}
                      <div class="row sala open" onclick="return openCustomModal('{% url 'panel:room_view' room.id %}')" style="height: 20%;">
                        <p>{{ room.name }} | {{ room.temperature }}ºC | {{ room.humidity }}%</p>
                    {% endif %}
                    </div>

                    {% get_room 'M2' as room %}
                    {% if room.status == 'Cerrada' %}
                      <div class="row sala no-open" onclick="return openCustomModal('{% url 'panel:room_view' room.id %}')" style="height: 20%;">
                        <p>{{ room.name }}</p>
                    {% else %}
                      <div class="row sala open" onclick="return openCustomModal('{% url 'panel:room_view' room.id %}')" style="height: 20%;">
                        <p>{{ room.name }} | {{ room.temperature }}ºC | {{ room.humidity }}%</p>
                    {% endif %}
                    </div>

                    {% get_room 'M3' as room %}
                    {% if room.status == 'Cerrada' %}
                      <div class="row sala no-open" onclick="return openCustomModal('{% url 'panel:room_view' room.id %}')" style="height: 20%;">
                        <p>{{ room.name }}</p>
                    {% else %}
                      <div class="row sala open" onclick="return openCustomModal('{% url 'panel:room_view' room.id %}')" style="height: 20%;">
                        <p>{{ room.name }} | {{ room.temperature }}ºC | {{ room.humidity }}%</p>
                    {% endif %}
                    </div>

                    {% get_room 'M4' as room %}
                    {% if room.status == 'Cerrada' %}
                      <div class="row sala no-open" onclick="return openCustomModal('{% url 'panel:room_view' room.id %}')" style="height: 20%;">
                        <p>{{ room.name }}</p>
                    {% else %}
                      <div class="row sala open" onclick="return openCustomModal('{% url 'panel:room_view' room.id %}')" style="height: 20%;">
                        <p>{{ room.name }} | {{ room.temperature }}ºC | {{ room.humidity }}%</p>
                    {% endif %}
                    </div>

                    {% get_room 'F7' as room %}
                    {% if room.status == 'Cerrada' %}
                      <div class="row sala no-open" onclick="return openCustomModal('{% url 'panel:room_view' room.id %}')" style="height: 20%;">
                        <p>{{ room.name }}</p>
                    {% else %}
                      <div class="row sala open" onclick="return openCustomModal('{% url 'panel:room_view' room.id %}')" style="height: 20%;">
                        <p>{{ room.name }} | {{ room.temperature }}ºC | {{ room.humidity }}%</p>
                    {% endif %}
                    </div>
                  </div>

                </div>

                <div class="row row-3">
                  <div class="col">
                  </div>
                </div>

                <div class="row row-4">

                  {% get_room 'Embarque' as room %}
                  {% if room.status == 'Cerrada' %}
                    <div class="col-4 sala no-open" onclick="return openCustomModal('{% url 'panel:room_view' room.id %}')">
                  {% else %}
                    <div class="col-4 sala open" onclick="return openCustomModal('{% url 'panel:room_view' room.id %}')">
                  {% endif %}
                    <p>{{ room.name }}</p>
                  </div>

                  <div class="col-4 sala otro">
                    <p>Contabilidad</p>
                  </div>
                  <div class="col-4 sala otro">
                    <p>CEO</p>
                  </div>
                </div>

              </div>

            </div>

          </div>
        </div>
      </div>
    </div>

    <!-- View Open Room Modal -->
    <div class="modal fade" id="view-open-room" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Ver Sala</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p><b>Número de Sala:</b></p>
            <p><b>Estado:</b> Abierta</p>
            <p><b>Contenedores:</b></p>
            <!-- Room Area -->
            <div class="container-fluid" style="height: 200px;">
              <div class="row" style="height: 20%;">
                <div class="col-1 sala empty">
                </div>
                <div class="col-1 sala empty">
                </div>
                <div class="col-1 sala empty">
                </div>
                <div class="col-1 sala empty">
                </div>
                <div class="col-1 sala empty">
                </div>
                <div class="col-1 sala empty">
                </div>
                <div class="col-1 sala empty">
                </div>
                <div class="col-1 sala empty">
                </div>
                <div class="col-1 sala empty">
                </div>
                <div class="col-1 sala empty">
                </div>
                <div class="col-1 sala empty">
                </div>
                <div class="col-1 sala empty">
                </div>
              </div>
              <div class="row" style="height: 20%;">
                <div class="col-1 sala empty">
                </div>
                <div class="col-1 sala empty">
                </div>
                <div class="col-1 sala full">
                </div>
                <div class="col-1 sala empty">
                </div>
                <div class="col-1 sala empty">
                </div>
                <div class="col-1 sala empty">
                </div>
                <div class="col-1 sala full">
                </div>
                <div class="col-1 sala empty">
                </div>
                <div class="col-1 sala empty">
                </div>
                <div class="col-1 sala empty">
                </div>
                <div class="col-1 sala empty">
                </div>
                <div class="col-1 sala empty">
                </div>
              </div>
              <div class="row" style="height: 20%;">
                <div class="col-1 sala empty">
                </div>
                <div class="col-1 sala full">
                </div>
                <div class="col-1 sala full">
                </div>
                <div class="col-1 sala empty">
                </div>
                <div class="col-1 sala empty">
                </div>
                <div class="col-1 sala full">
                </div>
                <div class="col-1 sala full">
                </div>
                <div class="col-1 sala empty">
                </div>
                <div class="col-1 sala empty">
                </div>
                <div class="col-1 sala full">
                </div>
                <div class="col-1 sala empty">
                </div>
                <div class="col-1 sala empty">
                </div>
              </div>
              <div class="row" style="height: 20%;">
                <div class="col-1 sala full">
                </div>
                <div class="col-1 sala full">
                </div>
                <div class="col-1 sala full">
                </div>
                <div class="col-1 sala full">
                </div>
                <div class="col-1 sala full">
                </div>
                <div class="col-1 sala full">
                </div>
                <div class="col-1 sala full">
                </div>
                <div class="col-1 sala full">
                </div>
                <div class="col-1 sala full">
                </div>
                <div class="col-1 sala full">
                </div>
                <div class="col-1 sala full">
                </div>
                <div class="col-1 sala full">
                </div>
              </div>
              <div class="row" style="height: 20%;">
                <div class="col-1 sala full">
                </div>
                <div class="col-1 sala full">
                </div>
                <div class="col-1 sala full">
                </div>
                <div class="col-1 sala full">
                </div>
                <div class="col-1 sala full">
                </div>
                <div class="col-1 sala full">
                </div>
                <div class="col-1 sala full">
                </div>
                <div class="col-1 sala full">
                </div>
                <div class="col-1 sala full">
                </div>
                <div class="col-1 sala full">
                </div>
                <div class="col-1 sala full">
                </div>
                <div class="col-1 sala full">
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" data-dismiss="modal" class="btn btn-outline-danger custom_alert">Cerrar</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="custom-modal" role="dialog">
    </div>

{% endblock content %}
