
{% load static %}
{% load storage_tags %}

<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">

    <!-- Brand & Logo -->
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'panel:map' %}">STORAGE & GO</a>
    </div>

    <!-- Main Menu -->
    <div class="collapse navbar-collapse" id="generalMenu">

      {% if user.is_authenticated %}
        <ul class="navbar-nav">
          <!--
          {% check_permission user.username type="Modelo" action="Ver" model='Sala' as aux %}
          {% if aux or user.is_superuser %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'panel:map'%}">Mapa</a>
          </li>
          {% endif %}
          -->
          {% check_permission user.username type="Modelo" action="Ver" model='Tarea de Movimiento' as aux %}
          {% if aux or user.is_superuser %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'panel:task_list'%}">Tareas</a>
            </li>
          {% endif %}
          {% check_permission user.username type="Modelo" action="Ver" model='Tarea de Mantenimiento' as aux %}
          {% if aux or user.is_superuser %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'panel:maintenance_list'%}">Mantenimiento</a>
            </li>
          {% endif %}
          {% check_permission user.username type="Modelo" action="Ver" model='Producto' as aux %}
          {% if aux or user.is_superuser %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'panel:product_list'%}">Productos</a>
            </li>
          {% endif %}
          {% check_permission user.username type="Modelo" action="Ver" model='Presupuesto' as aux %}
          {% if aux or user.is_superuser %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'panel:budget_list'%}">Presupuestos</a>
            </li>
          {% endif %}
          {% check_permission user.username type="Modelo" action="Ver" model='Estadística' as aux %}
          {% if aux or user.is_superuser %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'panel:general_statistics' %}">Estadísticas</a>
            </li>
          {% endif %}
          {% if user.is_superuser %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'panel:permission_list'%}">Permisos</a>
            </li>
          {% endif %}
        </ul>
      {% endif %}
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#generalMenu" aria-controls="generalMenu" aria-expanded="true" aria-label="Toggle navigation">
      <span class="fas fa-bars" style="font-size: 20px;"></span>
    </button>

    <!-- Profile Icon / Menu -->
    <div class="btn-group">
      <button type="button" class="btn btn-outline-primary dropdown-toggle btn-sm" id="profileMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="fas fa-user" style="font-size: 20px;"></span>
      </button>

      <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="profileMenu">
        {% if not user.is_authenticated %}
          <li>
            <a class="dropdown-item" href="{% url 'panel:custom_login' %}">Acceder</a>
          </li>
        {% else %}
        <li>
          <a class="dropdown-item"
            <button type="button" class="btn btn-outline-primary float-right btn-sm">
              {{ user.username }}
            </button>
          </a>
        </li>
        <li>
          <a class="dropdown-item" href="{% url 'panel:fichar' user.id %}">Fichar</a>
        </li>
        <li>
          <a class="dropdown-item" href="#">Cambiar Contraseña</a>
        </li>
        <li>
          <div class="dropdown-divider"></div>
        </li>
        <li>
          <a class="dropdown-item" href="{% url 'panel:logout'%}">Cerrar Sesión</a>
        </li>
        {% endif %}
      </ul>
    </div>

    <!-- Alert Icon / Menu -->
    <div class="btn-group">
      <button class="btn btn-sm btn-outline-primary" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="fas fa-bell" style="font-size: 20px;"></span>
        {% getNotifications user.id as notifications %}
        {% if notifications %}
          <span class="badge badge-pill badge-danger">{{ notifications|length }}</span>
        {% endif %}
      </button>
      {% if notifications|length > 0 %}
        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="alertMenu">
          {% for notification in notifications %}
            <li>
              <h6>{{ notification.description }}</h6>
              <button type="button" onclick="return openCustomModal('{% url 'panel:notification_view' notification.id %}')" class="btn btn-sm btn-outline-primary">
                <span class="fas fa-eye"></span>
              </button>
              <button type="button" onclick="return openCustomModal('{% url 'panel:notification_delete' notification.id %}')" class="btn btn-sm btn-outline-primary custom_alert">
                <span class="fas fa-trash">trash</span>
              </button>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
</nav>




<!-- -->
