
{% extends "base.html" %}
{% load static %}


{% block content %}

  <div class="container">
    <div class="row">
      <div class="col">
        <h3>Restaurar Contraseña</h3>

        <form method="POST" action="{% url 'cms:password_reset_form' uidb64=user token=None %}">
          {% csrf_token %}

          <!--<div style="display:none;"><input type="hidden" name="_method" value="POST"/></div>
          <div class="form-group required"><label for="UserUsername">Correo</label><input name="data[User][username]" class="form-control" placeholder="@" type="text" id="UserUsername" required="required"/></div>
          <div class="form-group required"><label for="UserPassword">Contraseña</label><input name="data[User][password]" class="form-control" placeholder="********" type="password" id="UserPassword" required="required"/></div>
          <button type="submit" label="" class="btn btn-outline-primary">Entrar</button>
        </form>-->
          {% include 'form.html' %}

          <!--<a href="{% url 'cms:password_reset' %}" class="btn btn-link btn-small">¿Olvidaste tu contraseña?</a>-->

          <button type="submit" class="btn btn-outline-primary">Restablecer</button>
        </form>
      </div>
    </div>
  </div>
  <hr>

{% endblock content %}
